* {
    padding: 0;
    margin: 0;
}

/*variaveis*/
:root {
    --nav-bar-color: rgb(2, 68, 83);
}


.nav {
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--nav-bar-color);
    position: fixed;
    width: 100%;
}

.clock {
    background-color: var(--nav-bar-color);
    height: 30px;
    font-size: 25px;
    color: white;
    margin-left: 30px;
}

.menu-nav {
    display: flex;
    padding-left: 100px;
    gap: 40px;
    align-items: center;

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    font-size: 17px;
}

#nome-nav {
    padding-left: 30px;
    display: flex;
}

#nome-nav:hover {
    scale: 1.04;

}

.menu-nav,
.nav-link {
    text-decoration: none;
}

.menu-nav,
.nav-link:visited {
    color: var(--nav-bar-color);
}

.clima {
    margin-left: auto;
    margin-right: 80px;
}

#efeito {
    position: relative;
    text-decoration: none;
    color: var(--nav-bar-color);
}

#efeito::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -5px;

    width: 100%;
    height: 2px;

    background-color: var(--nav-bar-color);

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.3s ease;
}

#efeito:hover::after {
    transform: scaleX(1);
}


.inicio {
    display: flex;
    width: auto;
    height:100dvh;
    background-image: url(img/fotoFundo.jpg);
    background-repeat: no-repeat;
}


