* {
    padding: 0;
    margin: 0;
}

/*variaveis*/
:root {
    --nav-bar-color: rgb(2, 68, 83);
}


.nav {
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid var(--nav-bar-color);*/

    width: 100%;
}

.clock {
    background-color: var(--nav-bar-color);
    height: 30px;
    font-size: 25px;
    color: white;
    margin-left: 30px;
}

.menu-nav {
    display: flex;
    padding-left: 100px;
    gap: 40px;
    align-items: center;

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    font-size: 17px;
}

#nome-nav {
    padding-left: 30px;
    display: flex;
}

#nome-nav:hover {
    scale: 1.04;

}

.menu-nav,
.nav-link {
    text-decoration: none;
}

.menu-nav,
.nav-link:visited {
    color: var(--nav-bar-color);
}

.clima {
    margin-left: auto;
    margin-right: 80px;
}

#efeito {
    position: relative;
    text-decoration: none;
    color: var(--nav-bar-color);
}

#efeito::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -5px;

    width: 100%;
    height: 2px;

    background-color: var(--nav-bar-color);

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.3s ease;
}

#efeito:hover::after {
    transform: scaleX(1);
}


.sobre{
}


.imagem_fundo1 {
    display: flex;
    width: 100%;
    height: 90dvh;
    background-image:
        linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(156, 156, 156, 0.779) 30%, rgba(0, 0, 0, 0) 80%),
        url('./img/fotoFundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.titulo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin: 60px 0px 0px 250px;
    align-items: center;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
  
}

#prazer{
    font-size: 40px;
    color: white;
}

#meu_nome{
    font-size: 50px;
    color: var(--nav-bar-color);
}

#text {
    display: block;
    width: 490px;
    
    min-height: 50px;
    height: auto;
    
    word-break: break-all;    
    overflow-wrap: break-word;

    padding: 15px 15px 15px 15px; 
    box-sizing: border-box; 
    
    margin-top: 90px;
    transform:translateX(-150px);
    color: white;
    font-size: 15px;
    background-color: var(--nav-bar-color);
    border-radius: 3px;
}

